coverage==6.5.0
pyyaml==5.3.1
pandas==2.1.4
numpy==1.26.3
scikit-learn==1.4.0
nltk==3.8.1
matplotlib==3.8.2
seaborn==0.13.2
jupyter==1.0.0
flask==3.0.0
pytest==7.4.4
dvc==3.48.0
dvc-gdrive==3.0.1
hvac==2.1.0
psycopg2-binary==2.9.9